/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* END MEYER RESET */

.border-test {
  border-style: solid;
  border-width: 2px;
  border-color: black;
}

.border-test-red {
  border-style: solid;
  border-width: 2px;
  border-color: red;
}

.border-test-blue {
  border-style: solid;
  border-width: 2px;
  border-color: blue;
}

@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

body {
  margin-left: 11.5%;
  margin-right: 11.5%;
  height: 100vh;
}

header {
  height: 12%;
  border-bottom: 1px solid rgb(232, 232, 234)
}

.section-div {
  display: inline-flex;
  font-family: 'Kumbh Sans', sans-serif;
  color: hsl(219, 9%, 45%);
}

#content-section {
  display: grid;
  grid-template-columns: 50% 50%;
  height: 88%;
  font-family: 'Kumbh Sans', sans-serif;
}

#photo-section {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 11.5%;
  padding-left: 12.5%;
}

#big-photo {
  height: 63.7%;
  width: 85%;
  border-radius: 2.5%;
}

#thumbnail-section {
  display:flex;
  gap: 25px;
  width: 85%;
  height: 12.5%;
}

.thumbnail-photo {
  height: 100%;
  border-radius: 5%;

}

#item-details-section {
  margin-top: 17.5%;
  padding-left: 7.5%;
  padding-right: 12.5%;
}

#company-div {
  margin-top: 11%;
  margin-bottom: 3%;
  color: hsl(26, 100%, 55%);
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 1.25px;

}

#item-name-div {
  font-weight: 700;
  font-size: 48px;
  word-spacing: 1px;
  line-height: 1.2;
  padding-bottom: 5%;
}


#item-description {
  color: hsl(219, 9%, 45%);
  font-size: 16px;
  letter-spacing: 0.5px;
  line-height: 1.5;
  margin-bottom: 3.5%;
}

#actual-price-div {
  margin-bottom: 3%;
}

#price-actual {
  font-weight: 700;
  font-size: 28px;
  margin-right: 2.5%;
}

#discount-span {
  color: hsl(26, 100%, 55%);
  font-size: 18px;
  font-weight: 700;
  background-color: hsl(25, 100%, 94%);
  padding: 4px 7px;
  border-radius: 4px;

}

#price-original {
  color: hsl(220, 14%, 75%);
  text-decoration: line-through;
}

.attribution { 
  font-size: 11px; 
  text-align: center; 
  font-family: 'Kumbh Sans';
}

.attribution a {
   color: hsl(228, 45%, 44%); 
}